<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Company Management</title>
</head>
<body>
        <!-- HEADER-->
        <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="/">CompanyManagement</a>
        </nav>
        
        <div class="d-flex justify-content-center"> <!-- CENTER-->
                <div class="d-flex flex-column bd-highlight mb-3" style="width: 60%;">  <!-- LAYOUT-->

                    <!-- TITOLO-->
                    <div class="p-2 bd-highlight">
                        <div class="text-justify" style="margin-top: 4%">
                            <h1> Aggiungi Impiegato</h1>
                            <hr>                  
                        </div> 
                    </div> <!-- END TITOLO-->
                    
                    <form style="margin-top: 2%;" th:action="@{/salvaImpiegato}" th:object="${impiegato}"
                    method="post">
                        <div class="form-row">  <!-- RIGA 1-->
                            <div class="col">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Nome" th:field="*{nome}" required>
                            </div>
                            <div class="col">
                                <label>Cognome</label>
                                <input type="text" class="form-control" placeholder="Cognome" th:field="*{cognome}" required>
                            </div>
                        </div> <!--END RIGA 1-->

                        <div class="form-row" style="margin-top: 2%;"> <!-- RIGA 2-->
                            <div class="col">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Email" th:field="*{email}" required>
                            </div>

                            <div class="col">
                                <label>Telefono</label>
                                <input type="text" class="form-control" placeholder="Telefono" th:field="*{telefono}" required>
                            </div>

                            <div class="col">
                                <label>Indirizzo</label>
                                <input type="text" class="form-control" placeholder="Indirizzo" th:field="*{indirizzo}" required>
                            </div> 

                        </div> <!-- END RIGA 2-->

                        <div class="form-row" style="margin-top: 2%;"> <!-- RIGA 3-->

                            <div class="col">
                                <label>Codice Dipartimento</label>
                                <select class="form-control" th:field="*{dipartimento}" >
                                    <option th:each="dipartimento: ${dipartimenti}" th:value="${dipartimento.getCodiceDip()}" th:text="${dipartimento.getCodiceDip()}"></option>
                                </select>
                            </div> 

                            <div class="col">
                                <label>Subbordinato a:</label>
                                <select class="form-control" th:field="*{responsabile}">
                                    <option  th:value="null">Nessuno</option>
                                    <option th:each="impiegato: ${impiegati}" th:value="${impiegato.getId()}" th:text="${impiegato.getId()}"></option>
                                                      
                                    
                                </select>
                            </div> 

                        </div> <!-- END RIGA 3-->
                    
                        <button type="submit" class="btn btn-primary" style="margin-top: 2%;">Aggiungi</button>

                    </form>
    

                </div>  <!-- END LAYOUT-->
        </div> <!-- END CENTER-->


</body>
</html>