<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/acb266f0b4.js" crossorigin="anonymous"></script>

<title>Company Management</title>
</head>
<body>
        <!-- HEADER-->
        <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="/">CompanyManagement</a>
        </nav>

        <div class="d-flex justify-content-center"> <!-- CENTER-->
            
                <div class="d-flex flex-column bd-highlight mb-3" style="width: 80%;">  <!-- LAYOUT-->

                                              
                        <!-- BENVENUTO-->
                        <div class="p-2 bd-highlight">
                                        <div class="text-justify" style="margin-top: 4%">
                                                <h1>Impiegati - Risultati ricerca</h1>
                                                <hr>                  
                                        </div> 
                        </div>

                        <!-- CERCA -->
                        <form th:action="@{/cercaImpiegato}" id="ricerca" style="width: 80%;margin: 0 auto;">
                                <div class="form-row" style="margin-top: 2%;">
                                        <div class="col">
                                                <input type="text" class="form-control" placeholder="Cerca Impiegato" name="keyword">
                                        </div>

                                        <div class="col-auto">
                                                <button type="submit" class="btn btn-secondary" style="background-color: #343a40;">
                                                                <i class="fa fa-search"></i>
                                                </input>
                                        </div>
                                </div>
                        </form>
                         <!-- ADD IMPIEGATO-->
                        <div class="d-flex justify-content-end" style="margin-top: 3%;">
        
                                <i class="fas fa-user-plus" aria-hidden="true" style="color: #343a40;"> 
                                          <a href="/impiegati/aggiungiImpiegato" class="text-decoration-none" style="color: #343a40;">Aggiungi Impiegato</a>
                                </i>
                        </div>

                        <!-- TABLE-->
                        <table class="table table-striped" style="margin-top: 1%;">
                                <thead>
                                        <tr>
                                        <th scope="col">MATRICOLA</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Cognome</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Indirizzo</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Dipartimento</th>
                                        <th scope="col">Responsabile</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr th:each="impiegato: ${risultati}">
                                                <th scope="row" style="font-weight: 100;" th:text="${impiegato.getId()}"/>
                                                <th scope="row" style="font-weight: 100;" th:text="${impiegato.getNome()}"/>
                                                <th scope="row" style="font-weight: 100;" th:text="${impiegato.getCognome()}"/>
                                                <th scope="row" style="font-weight: 100;" th:text="${impiegato.getEmail()}"/>
                                                <th scope="row" style="font-weight: 100;" th:text="${impiegato.getIndirizzo()}"/>
                                                <th scope="row" style="font-weight: 100;" th:text="${impiegato.getTelefono()}"/>
                                                <th scope="row" style="font-weight: 100;" th:text="${impiegato?.getDipartimento()?.getCodiceDip()}"/>
                                                <th scope="row" style="font-weight: 100;" th:text="${impiegato?.getResponsabile()?.getId()}"/>
                                                <th>
                                                        <select class="form-control">
                                                                <option th:each="progetto: ${impiegato?.getProgetti()}" th:text="${progetto.codiceProgetto}" ></option>
                                                        </select>
                                                </th>
                                                <th scope="row" style="font-weight: 100;"> <a th:href="@{/impiegati/modificaImpiegato/{id}(id=${impiegato.getId()})}" class="fas fa-user-edit"></a> </th>
                                                <th scope="row" style="font-weight: 100;"> <a th:href="@{/eliminaImpiegato/{id}(id=${impiegato.getId()})}" class="fas fa-user-times" style="color: #b71313;"></a> </th>
                                        </tr>
                                </tbody>
                        </table>

                        <!--End TABLE-->
                </div>
        </div>


</body>
</html>