<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <title>Company Management</title>
</head>
<body>
<!-- HEADER-->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CompanyManagement</a>
</nav>

<div class="d-flex justify-content-center"> <!-- CENTER-->
    <div class="d-flex flex-column bd-highlight mb-3" style="width: 60%;">  <!-- LAYOUT-->

        <!-- TITOLO-->
        <div class="p-2 bd-highlight">
            <div class="text-justify" style="margin-top: 4%">
                <h1> Modifica Progetto</h1>
                <hr>
            </div>
        </div> <!-- END TITOLO-->

        <form style="margin-top: 2%;" th:action="@{/aggiornaProgetto/{codiceProgetto}(codiceProgetto=${progetto.codiceProgetto})}" th:object="${progetto}"
              method="post">


            <div class="form-row" style="margin-top: 2%;">

                <div class="col">
                    <label>Responsabile Progetto</label>
                    <select class="form-control" th:field="*{responsabileProgetto}" required>
                        <option th:each="impiegato: ${impiegati}" th:value="${impiegato.getId()}"
                                th:text="${impiegato.getId()} + ' ' + ${impiegato.getNome()} + ' ' + ${impiegato.getCognome()}"></option>
                    </select>
                </div>

                <div class="col">
                    <label>Codice Cliente</label>
                    <select class="form-control" th:field="*{codiceCliente}" required>
                        <option th:each="cliente: ${clienti}" th:value="${cliente.getId()}"
                                th:text="${cliente.getId()} + ' ' + ${cliente.getDenominazioneSociale()}"></option>
                    </select>
                </div>

                <div class="col">
                    <label>Budget</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{budget}">
                </div>

            </div>

            <div class="form-row" style="margin-top: 2%;">
                <div class="col">
                    <label>Impiegati coinvolti:  </label>
                    <select class="selectpicker" th:field="*{impiegatiCoinvolti}"   multiple data-live-search="true" >
                        <option th:each="impiegato : ${impiegati}"
                                th:value="${impiegato.id}"
                                th:text="${impiegato.getId()} + ' ' + ${impiegato.getNome()} + ' ' + ${impiegato.getCognome()}"></option>
                    </select>
                </div>

              
                <div class="col">
                    <label>Descrizione: </label>
                    <input type="text" class="form-control" placeholder="" th:field="*{descrizione}">
                </div>
      
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 2%;">Aggiungi</button>

        </form>


    </div>  <!-- END LAYOUT-->
</div> <!-- END CENTER-->


</body>
</html>