<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/acb266f0b4.js" crossorigin="anonymous"></script>

    <title>Company Management</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CompanyManagement</a>
</nav>

<div class="d-flex justify-content-center"> <!-- CENTER-->

    <div class="d-flex flex-column bd-highlight mb-3" style="width: 80%;">  <!-- LAYOUT-->


        <!-- BENVENUTO-->
        <div class="p-2 bd-highlight">
            <div class="text-justify" style="margin-top: 4%">
                <h1> Progetti </h1>
                <hr>
            </div>
        </div>

        <!-- Messaggio da controller-->
        <span class="text-info" th:text="${messaggio}" style="text-align: center;"/>

        <!-- CERCA -->
        
        <form th:action="@{/cercaProgetto}" id="ricerca" style="width: 80%;margin: 0 auto;">
                <div class="form-row" style="margin-top: 2%;">
                        <div class="col">
                                <input type="text" class="form-control" placeholder="Cerca Progetto" name="keyword">
                        </div>

                        <div class="col-auto">
                                <button type="submit" class="btn btn-secondary" style="background-color: #343a40;">
                                    <i class="fa fa-search"></i>
                                </button>
                        </div>
                </div>
          </form>
        <!-- ADD Progetto-->
        <div class="d-flex justify-content-end" style="margin-top: 3%;">

            <i class="fas fa-user-plus" aria-hidden="true" style="color: #343a40;">
                <a href="/progetti/aggiungiProgetto" class="text-decoration-none" style="color: #343a40;">Aggiungi Progetto</a>
            </i>
        </div>

        <!-- TABLE-->
        <table class="table table-striped" style="margin-top: 1%;">
            <thead>
            <tr>
                <th scope="col">Codice Progetto</th>
                <th scope="col">Responsabile del Progetto</th>
                <th scope="col">Codice Cliente</th>
                <th scope="col">Budget</th>
                <th scope="col">Descrizione</th>
                <th></th>
               
            </tr>
            </thead>
            <tbody>
            <tr th:each="progetto: ${progetti}">
                <th scope="row" style="font-weight: 100;" th:text="${progetto.getCodiceProgetto()}"/>
                <th scope="row" style="font-weight: 100;" th:text="${progetto.getResponsabileProgetto().getId()} + ' - '  +
                ${progetto.getResponsabileProgetto().getNome()} + ' ' +${progetto.getResponsabileProgetto().getCognome()}"/>
                <th scope="row" style="font-weight: 100;" th:text="${progetto.getCodiceCliente().getId()} + ' - ' +
                ${progetto.getCodiceCliente().getDenominazioneSociale()} "/>
                <th scope="row" style="font-weight: 100;" th:text="${progetto.getBudget()}"/>
                <th scope="row" style="font-weight: 100;" th:text="${progetto?.getDescrizione()}"/>
                <th scope="row" style="font-weight: 100;"> <a th:href="@{/progetti/modificaProgetto/{codiceProgetto}(codiceProgetto=${progetto.getCodiceProgetto()})}" class="fas fa-user-edit"></a> </th>
            </tr>
            </tbody>
        </table>

        <!--End TABLE-->
    </div>
</div>

</body>
</html>